# Untrack Folders
SAVI TP2/Point Cloud Processing/Scenes
SAVI TP2/Model Training/Datasets
SAVI TP2/Point Cloud Processing/__pycache__
SAVI TP2/Model Training/__pycache__
SAVI TP2/Model Training/model.pkl